{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "no-bitwise": ["error", { "allow": ["~"] }],
    "no-tabs": 0,
    "indent": [2, "tab"],
    "new-cap": [2, { "newIsCap": true, "capIsNew": false }],
    "space-before-function-paren": [2, "always"],
    "arrow-body-style": [0, "always"],
    "function-paren-newline": 0,
    "global-require": 1,
    "no-nested-ternary": 1,
    "no-param-reassign": 1,
    "no-plusplus": 1,
    "no-loop-func": 0,
    "no-await-in-loop": 0,
    "no-continue": 1,
    "no-case-declarations": 0,
    "class-methods-use-this": 0,
    "quotes": [1, "single"],
    "max-len": ["warn", { "code": 100, "ignoreComments": true }],
    "no-unneeded-ternary": 0,
    "no-restricted-syntax": 1,
    "radix": 0,
    "prefer-destructuring": 1,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
  }
}
