<!DOCTYPE html>
<html
        lang="en"
        style="overflow: hidden;"
>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="preload" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body
        style="height: 100vh; width: 100vw; overflow: hidden; font-family: 'Open Sans'; background-color: <%= htmlWebpackPlugin.options.bgColor %>;"
>
<div
        id="app"
        style="max-width: 100vw; max-height: 100vh; overflow: hidden;"
>
    &zwnj;
</div>
</body>
</html>
